@model DoudouMons.Core.Character

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExplicationRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExplicationRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomArmes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomArmes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCharacter }) |
    @Html.ActionLink("Back to List", "Index")
</p>
